body {
    background-color: var(--background);
    --ion-toolbar-background: var(--header);
    --ion-background-color: var(--background);
    --ion-background-color-rgb: 22, 15, 36;
    --fade-background-rgb: 22, 15, 36;
    --wheel-fade-background-rgb: 22, 15, 36;
    --wheel-highlight-background: rgb(45, 31, 71);
    --ion-text-color: white;
}

.header-ios ion-toolbar:last-of-type {
    --border-width: 0 0 0px;
}

.tab-selected {
    color: rgb(201, 201, 201);
}

ion-datetime-button::part(native) {
    @apply bg-darker-violet-800 text-white font-semibold;
}

ion-datetime::part(content) {
    @apply bg-darker-violet-800;
}

:host(.option-active) {
    @apply text-white;
}
