/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

:root {
    /* --background: #ffffff; */
    --background: #e3dcf0;
    --header: #222225;
}

@media (prefers-color-scheme: dark) {
    :root.ios,
    :root.md {
        --background: #160f24;
        --header: #211435;
    }
}
